<ion-card id="history-container" >
  <h2>Histórico</h2>
  <div id="entry-container" >
    <div id="icon-container" >
      <ion-icon name="log-in" color="success" ></ion-icon>
    </div>
    <div id="entry-info" >
      <div id="entry-type-date" >
        <div>
          <h3>Credito depositado</h3>
        </div>
        <div>
          <p>13 AGO</p>
        </div>
      </div>
      <p>Valor recebido</p>
      <h4>R$ 5.000,00</h4>
    </div>
  </div>
  <div id="entry-container" >
    <div id="icon-container" >
      <ion-icon name="log-out" color="danger" ></ion-icon>
    </div>
    <div id="entry-info" >
      <div id="entry-type-date" >
        <div>
          <h3>Debito retirado</h3>
        </div>
        <div>
          <p>13 AGO</p>
        </div>
      </div>
      <p>Valor retirado</p>
      <h4>R$ 1.000,00</h4>
    </div>
  </div>
</ion-card>
