<ion-card id="history-container" >
  <h2>Histórico</h2>
  <div *ngIf="entries && entries.length === 0" >
    <ion-text color="medium" id="empty-entry" >
      <h2>Você não possui lançamentos</h2>
    </ion-text>
  </div>
  <div *ngFor="let entry of entries" >
    <div id="entry-container" >
      <div id="icon-container" >
        <ion-icon name="{{ entry.entryType | entryTypeSelector: ['log-in', 'log-out'] }}" color="{{ entry.entryType | entryTypeSelector: ['success', 'danger'] }}" ></ion-icon>
      </div>
      <div id="entry-info" >
        <div id="entry-type-date" >
          <div>
            <h3>{{ entry.entryType | entryTypeSelector: ['Crédito depositado', 'Débito retirado'] }}</h3>
          </div>
          <div>
            <p>{{entry.entryDate | date:'dd/MM/yy'}}</p>
          </div>
        </div>
        <p>{{ entry.entryType | entryTypeSelector: ['Valor recebido', 'Valor retirado'] }}</p>
        <h4>{{entry.value | currency:'BRL'}}</h4>
      </div>
    </div>
  </div>
</ion-card>
