<ion-content color="primary">
  <div id="header">
    <div id="menu-header">
      <ion-icon name="menu"></ion-icon>
    </div>

    <div id="main-resume">
      <ion-text>Olá Fulano</ion-text>
      <ion-text>Seu balanço atual:</ion-text>
      <h2>R$ 4.000,00</h2>
    </div>

    <div id="quick-actions">
      <ion-card color="secondary">
        <div>
          <ion-icon name="receipt"></ion-icon>
        </div>
        <p>Novo lançamento</p>
      </ion-card>
      <ion-card color="secondary">
        <div>
          <ion-icon name="trending-up-outline"></ion-icon>
        </div>
        <p>Simular</p>
      </ion-card>
    </div>
  </div>

  <div id="container">

    <app-resume-card></app-resume-card>
    <app-history-card></app-history-card>

  </div>
</ion-content>
