#header {
  // height: 200px;
  padding: 15px;
  #menu-header {
    font-size: 32px;
  }
  #quick-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    ion-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      box-shadow: 1px 2px 5px 5px #30303050;
      width: 85px;
      height: 110px;
      color: #303030;
      p{
        word-break: keep-all;
        text-align: center;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a0a0a0;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
      ion-icon {
        color: white;
        font-size: 23px;
      }
    }
  }

  #main-resume {
    display: flex;
    flex-direction: column;
    h2 {
      font-family: var(--balance-font-family);
    }
  }
}

#container {
  background-color: var(--ion-color-secondary);
  color: #303030;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
